@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.flex-jack{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.mt-05 {
    margin-top: 2px;
}
